<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.macicame.acacio.muvaqumicaapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".grade10.Grade10Level1Activity" />
        <activity android:name=".grade11.Grade11Level1Activity" />
        <activity android:name=".grade12.Grade12Level1Activity" />
        <activity android:name=".grade10.Grade10Level2Activity" />
        <activity android:name=".grade10.Grade10Level3Activity" />
        <activity android:name=".grade10.Grade10Level1ScoreActivity" />
        <activity android:name=".grade10.Grade10Level2ScoreActivity" />
        <activity android:name=".grade10.Grade10Level3ScoreActivity" />
        <activity android:name=".grade10.Grade10ReportActivity" />
        <activity android:name=".grade11.Grade11Level2Activity" />
        <activity android:name=".grade11.Grade11Level3Activity" />
        <activity android:name=".grade11.Grade11Level1ScoreActivity" />
        <activity android:name=".grade11.Grade11Level2ScoreActivity" />
        <activity android:name=".grade11.Grade11Level3ScoreActivity" />
        <activity android:name=".grade11.Grade11ReportActivity" />
        <activity android:name=".grade12.Grade12Level2Activity" />
        <activity android:name=".grade12.Grade12Level3Activity" />
        <activity android:name=".grade12.Grade12Level1ScoreActivity" />
        <activity android:name=".grade12.Grade12Level2ScoreActivity" />
        <activity android:name=".grade12.Grade12Level3ScoreActivity" />
        <activity android:name=".grade12.Grade12ReportActivity"></activity>
    </application>

</manifest>